@media screen and (min-width: 425px) and (max-width: 1024px){
    .title-content h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 575px){
    .box-form-bg-sliver .box-price button{
        transform: translate(-50%, -50%);
    }
    .table{
        font-size: 14px;
    }
    .total-price{
        font-size: 14px;
    }
    .box-form-bg-sliver .box-price{
        padding: 0 15px;
    }
    .box-service-home h3{
        font-size: 20px;
        margin: 10px;
    }
    .box-service-home p {
        font-size: 14px;
    }
    .box-service-home .btn-apply-service, .box-service-home .btn-findout-service{
        font-size: 14px;
    }
    .box-service-home .icon-box-service img{
        width: 120px;
        height: 120px;
    }
    .form-control{
        margin-bottom: 10px;
    }
    .title-content h2{
        font-size: 28px;
    }
    .title-content{
        margin-bottom: 10px;
    }
    .step-home .box-step{
        margin-bottom: 15px;
    }
    .box-share{
        padding-right: 15px;
    }
    .box-support{
        padding: 15px;
    }
    .box-question{
        padding-left: 15px;
    }
    .btn-more button{
        margin-bottom: 10px;
        font-size: 14px;
    }
    .partner ul{
        text-align: center;
    }
    .partner ul li img{
        width: 50px;
    }
    footer {
        border-top: 10px solid #af1702;
    }
    .call-to-action{
        border: none;
    }

    footer .socical li img {
        width: 30px;
    }
    header #header-2 .search-header-2 .search-box{
        padding: 0;
    }
    header #header-2 .menu-header-2 ul a{
        font-size: 10px;
    }
    header #header-2 .menu-header-2 ul li{
        border: none;
    }
}


@media screen and (max-width: 991px){
    .tabs-right{
        margin-top: 15px;
    }
}


@media screen and (min-width: 576px) and (max-width: 991px){
    .step-home .box-step {
        margin-bottom: 10px;
    }
    .box-question{
        padding-left: 15px;
    }
    .box-support{
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-share{
        padding-right: 15px;
    }
    .commitment{
        text-align: center;
    }
    .partner ul{
        text-align: center;
    }
    .partner ul li{
        padding: 0 15px;
    }
    .btn-more button{
        margin-bottom: 10px;
    }
    .call-to-action{
        border: none;
    }
    .warring-info{
        padding: 0;
    }
    .warring-info button{
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px){
    .main{
        padding: 10px 0;
    }
}

@media screen and (min-width: 992px){
    .nav-mobile{
        display: none;
    }
}

@media screen and (max-width: 991px){
    header{
        display: none;
    }
}