

input:focus, button:focus, select:focus{
    outline: 0;
    box-shadow: none !important;
    border-color: #333 !important;
}
.text-yellow{
    color: #e7b80a !important;
}
.pt-10{
    padding-top: 10px;
}
.mt-140{
    margin-top: 140px !important;
}
header #header-1{
    background: #b01803;
    width: 100%;
}
header #header-1 .any-question ul{
    margin: 0;
    padding: 0;
}
header #header-1 .any-question ul li{
    list-style: none;
    display: inline-flex;
    padding: 0 5px;
}
header #header-1 .any-question ul a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    line-height: 3;
}
header #header-1 .btn-login button{
    border: none;
    background: #E3E4E5;
    width: 100%;
    line-height: 2.5;
} 
header #header-1 .language ul{
    padding: 0;
    margin: 0;
}
header #header-1 .language ul li{
    list-style: none;
    display: inline-flex;
    padding: 0 5px;
}
header #header-1 .language ul li a{
    line-height: 3;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
header #header-1 .language ul li a:hover{
    color: #e7b80a;
}
header #header-2{
    padding: 20px 0;
}

header #header-2 .logo img{
    width: 100%;
}

header #header-2 .menu-header-2 ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
header #header-2 .menu-header-2 ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 8px;
    border-left: 2px solid #e7b80a;
}
header #header-2 .menu-header-2 ul li:nth-child(1){
    border: none;
}
header #header-2 .menu-header-2 ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}
header #header-2 .search-header-2 .search-box{
    padding: 0 50px;
    margin-top: 10px
}
header #header-2 .search-header-2 .search-box input{
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 0;
    border-color: #333;
    color: #b9babc;
}
header #header-2 .search-header-2 .search-box button{
    font-size: 14px;
    border-radius: 0;
    background: #fec200;
    border-color: #333;
    color: #fff;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-mobile{
    background: #b01803;
    width: 100%;
    display: inline-flex;
    position: fixed;
    z-index: 99;
}
.nav-mobile .btn-toggle button{
    background: none;
    color: #fff;
    border: none;
    font-size: 28px;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.nav-mobile .logo-mobile{
    padding: 2px 20px;
    margin: 0 auto;
}
.nav-mobile .logo-mobile img{
    width: 140px;
}
.nav-mobile .btn-search{
    position: absolute;
    right: 0;
    top: 0;
}
.nav-mobile .btn-search button{
    background: none;
    color: #fff;
    border: none;
    font-size: 28px;
    border-left: 1px solid #fff;
    padding: 0 10px;
}
.nav-mobile .box-search-mobile{
    background: #b01803;
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.box-search-mobile input{
    border-radius: 0;
    border: none;
}
.menu-mobile{
    position: absolute;
    background: #b01803;
    width: 100%;
    height: 100vh;
    z-index: 99;
    top: 40px;
    border-top: 1px solid #ccc;
}
.menu-mobile ul{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.menu-mobile ul li{
    list-style: none;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.menu-mobile ul li:nth-child(1){
    border: none;
}
.menu-mobile ul a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.box-search-mobile button{
    border-radius: 0;
}
.banner img{
    width: 100%;
}

.title-content{
    text-align: center;
    margin: 40px 0;
}
.title-content h2{
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
}
.title-content span{
    color: #666;
    font-weight: 600;
}
.box-service-home{
    text-align: center;
    border: 1px solid #666;
    border-radius: 10px;
    position: relative;
    padding: 80px 20px 5px 20px;
    margin-top: 100px;
}
.box-service-home:hover{
    background: #f0f2ed;
    border-color: #f0f2ed;
}
.box-service-home .icon-box-service img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-service-home h3{
    color: #e8b90b;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bold;
}
.box-service-home p{
    color: #666;
}
.box-service-home .btn-apply-service{
    float: left;
    text-decoration: none;
    padding-left: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #e8b90b;
    font-weight: bold;
    font-size: 16px;
}
.box-service-home .btn-findout-service{
    float: right;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #e8b90b;
    font-weight: bold;
    font-size: 16px;
}

.box-form-bg-sliver{
    background: #f0f2ed;
    margin-top: 30px;
    padding: 20px 0;
}

.box-form-bg-sliver label{
    font-weight: 600;
    color: #666;
}
.box-form-bg-sliver select{
    border-radius: 0;
    border-color: #ccc;
}
.box-form-bg-sliver select:focus{
    border-color: #ccc !important;
    box-shadow: none !important;
    outline: 0 !important;
}
.box-form-bg-sliver select option{
    border-color: #ccc !important;
}
.box-form-bg-sliver select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.box-form-bg-sliver .box-price{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 20px 70px;
    border-radius: 20px;
    background: #fff;
    position: relative;
}
.box-form-bg-sliver .box-price .table .total-price{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #e8b90b;
}
.box-form-bg-sliver .box-price button{
    background: #e8b90b;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.step-home .bg-step-home-top{
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.step-home .bg-step-home-top img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.step-home .bg-step-home-bottom{
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.step-home .bg-step-home-bottom img{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -88px;
}
.step-home .box-step{
    text-align: center;
    border: 2px solid #b01803;
    padding: 15px;
    border-radius: 10px;
}
.step-home .box-step:hover{
    background: #b01803;
    color: #fff;
}
.step-home .box-step:hover .cls-1{
    fill: #fff;
}
.box-step svg{
    width: 80px;
    height: 100px;
    margin-bottom: 20px;
}
.step-home .box-step img{
    width: 80px;
    height: 100px;
    margin-bottom: 20px;
    object-fit: contain;
}
.box-step h3{
    font-size: 22px;
}
.step-home .box-step p{
    font-weight: 400;
}

.step-home-yellow {
    background: #fec200;
    padding: 60px 0 90px 0;
}
.step-home-silver{
    background: #eaeaea;
    padding: 0 0 50px 0;
}
.box-guide{
    background: #ffffffa6;
    border-radius: 10px;
    padding: 10px 50px 50px;
}
.box-guide h4 img{
    width: 10%;
    margin-right: 30px;
}
.box-guide h4{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.box-guide ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.box-guide ul li{
    list-style: none;
    padding: 5px 0;
}
.box-guide ul a{
    color: #333;
    /* text-decoration: none; */
}

.blog-home{
    background: #e3e4e6;
    position: relative;
}
.bg-blog-home img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.box-share, .box-support, .box-question{
    margin-top: 50px;
}
.box-share{
    padding-right: 0;
}
.box-support{
    padding: 0;
}
.box-question{
    padding-left: 0;
}
.box-share .title-box{
    background: #af1702;
    padding: 8px 0;
}
.box-share .title-box h3{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}


.box-support .title-box{
    background: #910302;
    padding: 8px 0;
}
.box-support .title-box h3{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.box-question .title-box{
    background: #af1702;
    padding: 8px 0;
}
.box-question .title-box h3{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-blog-home{
    border: none;
}
.card-blog-home .img-square-wrapper img{
    width: 130px;
    height: 90px;
    object-fit: cover;
}
.card-blog-home .card-body{
    padding: 0;
    padding-left: 10px;
}
.card-blog-home .card-body .card-title{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.card-blog-home .card-body .card-title a{
    color: #333;
    text-decoration: none;
}
.card-blog-home .card-body .card-text{
    font-size: 14px;
}
.card-support{
    padding: 0 10px;
}
.card-support h4{
    color: #FFC200;
}
.card-support p{
    font-weight: 600;
    color: #808080;
}
.card-question ul{
    border: 1px solid #313332;
    padding: 0;
}
.card-question ul li{
    list-style: none;
    border-top: 1px solid #313332;
    padding: 5px 10px;
}
.card-question ul li:nth-child(1){
    border: none;
}
.card-question ul a{
    color: #000;
    text-decoration: none;
}
.card-question ul li i{
    color: #313332;
}

.commitment, .partner, .btn-more{
    margin: 0;
}

.commitment p{
    color: #00579F;
    font-weight: 600;
}
.partner ul{
    padding: 0;
}
.partner ul li{
    list-style: none;
    display: inline-flex;

}
.partner ul li img{
    width: 70px;
}
.btn-more button{
    width: 100%;
    padding: 10px;
    border: none;
    background: #af1702;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}

footer{
    border-top: 40px solid #af1702;
}
footer .footer-1{
    padding: 20px 0;
}
.title-footer-1{
    margin: 15px 0;
    
}
.title-footer-1 h3{
    text-transform: uppercase;
    font-weight: bold;
    color: #e7b806;
}
.call-to-action{
    border-right: 2px dashed #6D6E71;
}
.box-form-footer-1 .form-group input{
    border-color: #808082;
    border-radius: 8px;
    padding: 20px 10px;
    line-height: 3;
}    
.warring-info{
    padding-right: 30px;
}
.warring-info button{
    border: none;
    background: #e7b806;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.travel-tour button{
    border: none;
    background: #808082;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

footer .footer-2{
    background: #313332;
    color: #fff;
}

footer .footer-2{
    padding: 20px 0;
}
footer .footer-2 .title h3{
    text-transform: uppercase;
    font-size: 22px;
}

footer .socical{
    margin: 0;
    padding: 0;
    text-align: left;
}
footer .socical li{
    list-style: none;
    display: inline-flex;
    padding: 10px;
}
footer .socical li:nth-child(1){
    padding: 0;
}
footer .socical li img{
    width: 45px;
}

footer .quick-links ul{
    padding: 0;
    margin: 0;
}
footer .quick-links ul li{
    list-style: none;
    border-top: 2px solid #F0F0F050;
    padding: 5px 0;
}
footer .quick-links ul li:nth-child(1){
    border: none;
}
footer .quick-links ul li i{
    color: #e7b806;
    margin-right: 15px;
}
footer .quick-links ul li a{
    color: #fff;
    font-size: 18px;
}

.main{
    background: #EAEAEA;
    padding: 50px;
}
.bg-main-white{
    background: #fff;
    padding: 20px;
}
.main .beadcrumb {
    margin-bottom: 20px;
}
.main .beadcrumb ul{
    margin: 0;
    padding: 0;
}
.main .beadcrumb ul li{
    list-style: none;
    display: inline-flex;
}
.main .beadcrumb ul a{
    color: #4D4D4D;
    font-style: italic;
}
.main .beadcrumb ul a.active{
    color: #B01803;
    font-weight: 600;
}
.main .content-step-1 h3{
    text-align: center;
    color: #B01803;
    font-weight: bold;
}
.main .content-step-1 img{
    width: 100%;
    object-fit: cover;
}
.main .content-step-1 .form-accept{
    text-align: center;
}
.main .content-step-1 .form-accept button{
    margin: 10px 0;
    border: none;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
}
.content-step-2 h3{
    text-align: center;
    color: #B01803;
    font-weight: bold;
    margin: 30px 0;
}
.content-step-2 .menu-tabs{
    margin-bottom: 20px;
}
.content-step-2 .menu-tabs ul{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #B01803;
}
.content-step-2 .menu-tabs ul li{
    list-style: none;
    display: inline-flex;
    background: #F0F0F0;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
}
.content-step-2 .menu-tabs ul li:hover{
    background: #B01803;
}
.content-step-2 .menu-tabs ul li:hover a{
    color: #fff;
}
.content-step-2 .menu-tabs ul a{
    color: #333;
    text-decoration: none;
}
.content-step-2 .menu-tabs ul li.active{
    background: #B01803;
    
}
.content-step-2 .menu-tabs ul li.active a{
    color: #fff;
}
.tabs-right .view-order{
    border: 2px solid #B01803;
}
.tabs-right .view-order h4{
    background: #B01803;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}
.tabs-right .view-order .content-cart{
    padding: 10px;
}

#step2 h6{
    color: #B01803;
}
#step2 .form-group select{
    background: #EAEAEA;
    border: none;
    border-radius: 0;
    color: #B01803;
    font-weight: 500;
}
#step2 .form-group select *{
    background: #fff;
    border-color: #EAEAEA !important;
    outline: 0;
    box-shadow: none;
}
#step2 .content-pay{
    background: #EAEAEA;
    padding: 10px;
    margin-bottom: 10px;
}
.btn-pay{
    text-align: right;
}
.btn-pay button{
    background: #B01803;
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
}

.content-pay-2{
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #EAEAEA;
}
.content-pay-2 img{
    width: 80%;
}

.content-complate h6{
    color: #B01803;
    text-align: center;
    margin: 20px 0;
}

.view-order-complate{
    border: 2px solid #B01803;
    border-bottom: 5px solid  #B01803;
}
.view-order-complate h6{
    background: #B01803;
    margin: 0;
    color: #fff;
    padding: 10px 0;
    font-weight: 500;
}

.tabs-instructions-1{
    margin: 0;
    padding: 0;
}
.procedure-instructions h6{
    margin: 20px 0;
}
.tabs-instructions-1 li{
    list-style: none;
}
.tabs-instructions-1 li i{
    font-size: 18px;
}
.tabs-instructions-1 li a{
    color: #333;
    text-decoration: none;
}

.content-tabs-instructions-1{
    padding: 10px 40px;
}
.form-info h4 img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.form-info h4{
    font-weight: 400;
    color: #B01803;
    margin: 20px 0;
}
.form-info label{
    color: #B01803;
    font-weight: 500;
}
.form-info select{
    border-radius: 0;
}
.form-info input{
    border-radius: 0;
}

